{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Login Form</div>
      <div class="title signup">Signup Form</div>
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked>
        <input type="radio" name="slide" id="signup">
        <label for="login" class="slide login">Login</label>
        <label for="signup" class="slide signup">Signup</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <form action="#" class="login" >
          <div class="field">
            <input type="text" placeholder="Email Address" required>
          </div>
          <div class="field">
            <input type="password" placeholder="Password" required>
          </div>
          <div class="pass-link"><a href="#">Forgot password?</a></div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Not a member? <a href="">Signup now</a></div>
        </form>
        <form action="" class="signup" method="POST">
          {% csrf_token %}
          <div class="colum1">
            <div class="field">
              <input type="text" class="uname" placeholder="Create Username" required>
            </div>
            <div class="field">
              <input type="text" class="uemail" placeholder="Email Address" required>
            </div>
            <div class="field">
              <input type="password" class="upassword1" placeholder="Password" required>
            </div>
          </div>
          <div class="colum2">
            <div class="field">
              <label for="cars">Choose your Favourite sport: </label>
              <select name="fav_" id="cars">
                <option value="">Cricket</option>
                <option value="">Football</option>
                <option value="">Baseball</option>
                <option value="">Tennis</option>
                <option value="">Golf</option>
                <option value="">Badminton</option>
                <option value="">Kabaddi</option>
                <option value="">Boxing</option>
                <option value="">Athletics</option>
                <option value="">Chess</option>
                <option value="">Swimming</option>
                <option value="">Shooting</option>
                <option value="">Wrestling</option>
                <option value="">Tabletennis</option>
                
              </select>
            </div>
            <div class="field">
              <input type="number" class="age" placeholder="Age" required>
            </div>
            <div class="field">
              <input type="password" class="upassword1" placeholder="Confirm password" required>
            </div>
          </div>         
          <div class="field btn">
            <div class="btn-layer"></div>
              <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>


<script src="{% static 'login.js' %}"></script>  
<script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-database.js"></script>
</body>
</html>
